<div class="prodcut-list">
    <app-prodcut-item *ngFor="let product  of products" 
    [product]="product"
    (deleteProductItem)="handleDeleteProduct($event)"
    (displayProductModal)="handleClickProductModal($event)"

    >

    
    
 </app-prodcut-item>
 

 <div class="bar" *ngIf="!products.length">
    Désolé aucun produit n'est disponible

 </div>
    
 <app-modal-product-view *ngIf="isDisplayModal && modalProduct"
[product]=" modalProduct"
(close)="handleCloseModal()"
>
</app-modal-product-view>

</div>
