
.footer-content{
    background-color: aquamarine;
    height: calc(100vh - 80vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;

}

.footer-botton{
    background-color: aquamarine;
    height: 70px;
}