header{
    background-color: aquamarine;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    font-size: 1.5rem;
    height: 50px;
    position: sticky;
    top: 0;
    cursor: pointer;
    
    
  
        
    
}


header .nav-bar ul{
    display: flex;
    list-style: none;
    gap: 20px;
    
    
    
}

header  a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}


    
@media screen and(max-width:550px) {
    header .nav-bar {
        display: none;
        
    }
    header{
        justify-content: center;
    }

    
}