<header>
    <div class="logo">
        <a href="#">SHOP</a>
    </div>
    <div class="nav-bar">
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">PRODUCT</a></li>
            <li><a href="#">BLOG</a></li>
            <li><a href="#">CONTACT</a></li>
        </ul>
    </div>
</header>
