<div class="modal-product-view">
    <div class="overlay"></div>
    <div class="modal-product-view-container flex">
    <div class="modal-product-view-image flex-1">
    <img 
    [src]="product ?    product.imageUrl[0] : ''  " 
    [alt]="product?.name">
</div>
    <div class="modal-product-view-details flex-1 flex aic jcc colum">
        <div class="modal-product-details-name">
            <h4>{{product?.name}}</h4>
           
            <div class="modal-product-details-price">
                <h4>{{product?.sold_price}}€</h4>
        <h4><del>{{product?.regular_price}}€</del></h4>
            </div>
            <div class="modal-product-details-created-at">
                {{product?.created_at |date: "dd/MM/YYYY"}}
            </div>
            <button 
            (click)="closeModal()"
            class="btn btn-close">Close</button>
    
    </div>

    </div>
</div>