.modal-product-view-container{
    height: 300px;
    width: 500px;
    background-color:rgb(245, 241, 241);
    position: fixed;
    z-index: 900;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}
.modal-product-view-container img{
    height: 100%;
    width: 100%;
}
.modal-product-view-container details{
    text-align: center;
    justify-content: center;

}
.btn{
    margin: 10px;
    cursor: pointer;
    height: 40px;
    width: 100px;
    outline: none;
}

.overlay{
    background-color: #1d1d1d;
    position: fixed;
    z-index: 100;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
}