<div class="product-item" (click)="ClickProductModal(product)">
    <div class="product-image">

        <img
         [src]="product ?   product.imageUrl[0]:  ' ' " 
        
        [alt]="product?.name">
       
    </div>
    <div class="product-details">
        <div class="product-name">
            <h3>{{product?.name?.substring(0,16)}} {{product && product.name[17]? "...": null}}</h3>
        </div>
        <div class="product-price">
            <h3>{{product?.sold_price}}€</h3>
            <del>
                <h3>{{product?.regular_price}}€</h3>
            </del>
        </div>
    </div>
</div>
 