

.product-item :hover{
    background-color: rgba(62, 60, 60, 0.991);
    color: white;
  
  }
  .product-item{
    text-align: center;
    border: 2px solid #ccc;
    width: 200px;
    cursor: pointer;
  
  }
  
  .product-item .product-image img{
    width:200px ;
    height:250px;
  }
  
  
  
  .product-item  .product-details  .product-price{
    display: flex;
    gap: 30px;
    justify-content: center;
  }
  