/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.flex{
    display: flex;
}

.flex-1{
    flex:1;
}
.flex-2{
    flex:2;
}


.itc{
    align-items: center;
}
.jcc{
    justify-content: center;
}
.colum{
    flex-direction: column;
}







